body{
	background-color: #f4f4f4;
	font-family: "helvetica neue";
	color: #666;
	padding: 0 20%;
	text-align: center;
}

img.animated-gif{
	width: 500px;
	height: auto;
	align-content: center;
}

img.big-splash{
	align-content: center;
	width: 600px;
	height: auto;
}

.hide{
	display: none;
}

.textbox{
	height: 30px !important;
	width: 200px;
	font-size: 25px;
}

.button{
	height: 40px !important;
	width: auto;
	font-size: 25px;
	font-weight: bold;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
