body{
	background-color: #f4f4f4;
	font-family: "helvetica neue";
	color: #666;
	padding: 0 20%;
	text-align: center;
}

img.animated-gif{
	width: 500px;
	height: auto;
	align-content: center;
}

.hide{
	display: none;
}

<<<<<<< HEAD
.textbox{
	size: 35px;
}
=======
#num-one
{
    height:200px;
    font-size:14pt;
}

#num-two
{
    height:200px;
    font-size:14pt;
}
>>>>>>> 025b0b9d0a9e4d7a8068b40440ec3fbcbabe82cc
